<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title | title }}
        {% endblock %}
    </title>
    {% block css %}
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block js %}

    {% endblock %}
</head>
<body>
	<div class="container">
        {% block header %}
            <div class="header">
                <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}"></a>
                {% block user_header %}
                <div class="user_header">
                    {% if user.is_authenticated %}
                        Привет, <a href="{% url 'auth:edit' %}">{{ user.first_name }}</a>!
                        <a href="{% url 'auth:logout' %}">
                            Выход
                        </a>
                    {% else %}
                        Привет, <a href="{% url 'auth:login' %}">Пользователь</a>!
                        <a href="{% url 'auth:login' %}">
                            Вход</a>
                    {% endif %}
                </div>
                {% endblock %}
                {% block menu %}
                {% endblock %}
                <hr>
            </div>
        {% endblock %}

        {% block content %}

        {% endblock %}
        {% block footer %}
		<div class="footer">
			&copy; Все права защищены {% now "Y" %}
		</div>
        {% endblock %}
	</div>
</body>
</html>